<h1>Admin::Tags#new</h1>

<%= form_for [:admin, @tag] do |f| %>
  <p><%= f.text_area :name, placeholder: 'e.g Ruby, Python, ReactJS' %></p>
  <p><%= f.submit %></p>
<% end %>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Created</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= status_converter(tag.in_use?, truthy: 'in use', falsey: 'not in use') %></td>
        <td><%= time_ago tag.created_at %></td>
        <td>
          <%= link_to edit_admin_tag_path(tag) do %>
            <button type="button" name="button">Edit</button> |
          <% end %>

          <%= create_deleteable_button tag %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
